<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RDBMS -->
      <package
            uri="http://ISO.PT/2.0"
            class="PT.PTPackage"
            genModel="RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RDBMS -->
      <package
            uri="http://ISO.RDBMS/2.0"
            class="RDBMS.RDBMSPackage"
            genModel="RDBMS.genmodel"/>
   </extension>

</plugin>
