<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SimpleClass -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Norma.SimpleClass.presentation.SimpleClassModelWizardID"
            name="%_UI_SimpleClassModelWizard_label"
            class="Norma.SimpleClass.presentation.SimpleClassModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleClassModelFile.gif">
         <description>%_UI_SimpleClassModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SimpleClass -->
      <editor
            id="Norma.SimpleClass.presentation.SimpleClassEditorID"
            name="%_UI_SimpleClassEditor_label"
            icon="icons/full/obj16/SimpleClassModelFile.gif"
            extensions="simpleclass"
            class="Norma.SimpleClass.presentation.SimpleClassEditor"
            contributorClass="Norma.SimpleClass.presentation.SimpleClassActionBarContributor">
      </editor>
   </extension>

</plugin>
